body {
    background: salmon;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: blue;
    text-align: center;
}

.about {
    color: chartreuse;
}

.skills {
    font-family: monospace;
}

.projects {
    background-color: brown;
}

.contact {
    background-color: darkkhaki;
}